<section class="storefront" aria-label="Présentation du livre"
         aria-labelledby="storefront-title"
         itemscope
         itemtype="https://schema.org/Book">

  <!-- Côté texte -->
  <div class="storefront-text">
    <p class="storefront-eyebrow">
      <span itemprop="genre">Biographie</span>
    </p>

    <h1 class="storefront-title" id="hero-title" itemprop="name">
      {{ book().titleLine1 }}<br>
      <em>{{ book().titleLine2 }}</em><br>
      {{ book().titleLine3 }}
    </h1>
    <h2>
      {{ book().titleLine4 }} <em>{{ book().titleLine4Italic}}</em>
    </h2>

    <p class="storefront-subtitle" itemprop="description">{{ book().subtitle }}</p>

    <div class="storefront-meta" aria-label="Informations du livre">
      <address class="hero-author" itemprop="author" itemscope itemtype="https://schema.org/Person">
        <span itemprop="name">{{ book().author }}</span>
      </address>
      <span class="sep" aria-hidden="true"></span>
      <time itemprop="datePublished" [attr.datetime]="book().year">{{ book().year }}</time>
      <span class="sep" aria-hidden="true"></span>
      <span>{{ book().pages }}</span>
    </div>

    <a [href]="book().ctaAnchor" target="_blank" class="storefront-cta" [title]="'Commander ' + book().titleLine1 + ' de ' + book().author">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ book().ctaLabel }} <br> Action disponible fin juillet
    </a>
  </div>

  <!-- Côté couverture -->
  <div class="storefront-image">
    <div class="storefront-image-inner">
      <div class="storefront-image-display">
      <img src="assets/images/Pour_un_journalisme_irrespectueux_PHP_couverture.png"
           alt="Couverture du livre 'Pour un journalisme irrespecteux' édition PHP"
           loading="lazy"
           class="photo-img"
           width="607"
           height="914"
           title="Couverture du livre 'Pour un journalisme irrespecteux' édition PHP"/>
      </div>
    </div>
  </div>

</section>
